/****Global setting****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100%;
    font-family: 'Changa', sans-serif;
    background-color: #000000;
    color: #000;
    overflow-x: hidden;
}


/***Font section***/
@font-face {
    font-family: 'Changa';
    src: url('resources/Changa-VariableFont_wght.ttf') format('truetype'),
    url('resources/Changa-VariableFont_wght.woff2') format('woff2'),
    url('resources/Changa-VariableFont_wght.woff') format('woff');
}


/***Animation effect section***/
/**Intro page fade out effect after click the logo(Javascript Event)**/
@keyframes introFadeOut{
    /*Use frequenly percentage for smooth transition*/
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}
/**Content page --> main --> about (CSS bg move in effect)**/
@keyframes bgMoveIn{
    0% {background-position: center top;}
    25% {background-position: center bottom;}
    50% {background-position: center right;}
    50% {background-position: center left;}
    100% {background-position: center top;}
}
/**Content page --> main --> explorer (CSS bg zoom in effect)**/
@keyframes bgZommIn{
    0% {background-size: 100%;}
    50% {background-size: 200%;}
    100% {background-size: 100%;}
}


/***Intro page***/
.intro-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.intro-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.intro-logo{
    position: absolute;
    width: 20rem;
    height: auto;
    transition: all 1.2s ease-in-out;
}
/**Intro page effect**/
.intro-logo:hover{
    cursor: pointer;
    transform: scale(0.7);
    opacity: 0.2;
}


/***Content page***/
.content-page{
    display: none;
    grid-template-rows: 38.3rem 175rem 5rem;
    width: 100vw;
    height: 100%;
}

/**header part**/
header{
    width: 100vw;
    height: 38.3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}
#home{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 38.3rem;
    object-fit: cover;
}
.content-logo{
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 6rem;
}
.content-logo img{
    height: 100%;
    width: 20%;
    object-fit: contain;
}

/*nav bar part*/
nav {
    position: relative;
    left: 0;
    display: grid;
    grid-template: 1fr 5fr/ 1fr;
    width: 30%;
    height: 18rem;
    margin: 0.5rem 0 0 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
}
/*menu button part*/
.button-menu{
    font-family: 'Changa', sans-serif;
    width: 40%;
    height: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.button-menu:hover, .button-menu:focus{
    cursor: pointer;
}

/*menu bar part*/
.nav-menu{
    display: flex;
    width: 60%;
    height: 100%;
    padding-top: 1rem;
    opacity: 0;
}
.nav-menu menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
.nav-menu menu a, .nav-menu menu li{
    font-size: 0.8rem;
    text-decoration: none;
    list-style: none;
    margin-bottom: 1.5rem;
    color: #ffffff;
    opacity: 0.7;
}
.nav-menu menu a, .nav-menu menu li:hover{
    opacity: 1;
    color: #ffffff;
    font-weight: bold;
}

/*rocket-icon part*/
.rocket-icon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}
.selector-rocket{
    position: relative;
    bottom: 12.8rem; /* -3rem for each adjacent nav bar topic when mouse hover*/
    width: 2.5rem;
    height: 2.5rem;
    transition: bottom 1s;
}

/**Main part**/
main{
    width: 100vw;
    min-height: 100rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*article id=about*/
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 45rem;
    text-align: center;
    background-image: url('resources/bg_about.jpg');
    background-size: cover;
}
#about:hover{
    animation: bgMoveIn 6s ease-in-out infinite;
}
#about h1{
    width: 60%;
    text-align: start;
    font-size: 2.5rem;
    margin: 0 auto 1rem 2rem;
    opacity: 1;
}
#about p{
    width: 60%;
    text-align: start;
    font-size: 1.2rem;
    margin-left: 2rem;
    line-height: 1.5rem;
    opacity: 1;
}

/*article id=explorer*/
#explorer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 120rem;
    background-image: url('resources/planet_bg.jpg');
    background-size: cover;  
}
#explorer:hover{
    animation: bgZommIn 20s ease-in-out infinite;
}
/*Explorer planet1*/
#explorer .planet1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 76rem;
    min-height: 64rem;
}
#explorer .planet1 img{
    width: 30rem;
    height: 25rem;
    border-radius: 10%;
    margin: 2rem 2rem 2rem 0;
}
#explorer .planet1-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 25rem;
    border-radius: 10%;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
}
#explorer .planet1-info h2{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
#explorer .planet1-info p{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 80%;
    text-align: start;
    line-height: 1.5rem;
}
/*Explorer planet2*/
#explorer .planet2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 76rem;
    min-height: 66rem;
}
#explorer .planet2 img{
    width: 30rem;
    height: 25rem;
    border-radius: 10%;
    margin: 2rem 2rem 2rem 0;
}
#explorer .planet2-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 25rem;
    border-radius: 10%;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
}
#explorer .planet2-info h2{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
#explorer .planet2-info p{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 80%;
    text-align: start;
    line-height: 1.5rem;
}

/**Footer part**/
footer{
    color:rgb(255, 255, 255);
    font-size: 1rem;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/***Responsive design for different screen size***/
/*For large mobile screen devices*/
@media all and (max-width: 480px){
    /***content part***/
    /**nav bar part**/
    nav{
        width: 80%;
    }
    .button-menu{
        width: 50%;
    }
    .content-logo{
        width: 100%;
        height: 12%;
    }
    .content-logo img{
        height: 100%;
        width: 23%;
        object-fit: cover;
    }
    /*menu bar part*/
    .nav-menu{
        width: 100%;
    }
    .nav-menu menu{
        width: 60%;
        height: 100%;
    }
    .nav-menu menu a, .nav-menu menu li{
        font-size: 0.9rem;
    }
    .selector-rocket{
        width: 2rem;
        height: 2.5rem;
    }

    /***Main part***/
    /*article id=about*/
    #about h1{
        width: 80%;
        font-size: 3rem;
    }
    #about p{
        width: 80%;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    /*article id=explorer*/
    #explorer .planet1, #explorer .planet2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #explorer .planet1 img, #explorer .planet2 img{
        width: 22rem;
        height: 17rem;
        margin: 2rem 2rem 3rem 2rem;
    }
    #explorer .planet1-info, #explorer .planet2-info{
        width: 22rem;
        height: 20rem;
    }
}
/*For small mobile screen devices*/
@media all and (max-width: 380px){
    /***content part***/
    /*article id=explorer*/
    #explorer .planet1 img, #explorer .planet2 img{
        width: 16.2rem;
        height: 13rem;
    }
    #explorer .planet1-info, #explorer .planet2-info{
        width: 16.2rem;
        height: 20rem;
    }
    #explorer .planet1-info, #explorer .planet2-info{
        gap: 1rem;
    }
    #explorer .planet2-info p{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}