/****Global setting****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #000;
    overflow-x: hidden;
}


/***Page keyframe effect***/
/**Intro page fade out effect after click the logo(Javascript Event)**/
@keyframes introFadeOut{
    /*Use frequenly percentage for smooth transition*/
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}


/***Intro page***/
.intro-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.intro-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.intro-logo{
    position: absolute;
    width: 20rem;
    height: auto;
    transition: all 1.2s ease-in-out;
}
/**Intro page effect**/
.intro-logo:hover{
    cursor: pointer;
    transform: scale(0.7);
    opacity: 0.2;
}


/***Content page***/
.content-page{
    display: none;
    grid-template-rows: 2fr 4fr 1fr;
    width: 100%;
    height: 100%;
}

/**header part**/
header{
    width: 100%;
    height: 38.3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: top;  
}
#home{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 38.3rem;
    object-fit: cover;
}
.content-logo{
    display: flex;
    justify-content: end;
    align-content: center;
    width: 200%;
    height: 6rem;
}
.content-logo img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

/*nav bar part*/
nav {
    display: grid;
    grid-template: 1fr 5fr/ 1fr;
    width: 100%;
    height: 17rem;
    margin: 0.5rem 0 0 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    border: none;
}
/*menu button part*/
.button-menu{
    width: 25%;
    height: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.button-menu:hover, .button-menu:focus{
    cursor: pointer;
}

/*menu bar part*/
.nav-menu{
    display: flex;
    width: 40%;
    height: 100%;
    padding-top: 1rem;
    opacity: 0;
}
.nav-menu menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
.nav-menu menu a, .nav-menu menu li{
    font-size: 0.8rem;
    text-decoration: none;
    list-style: none;
    margin-bottom: 1.5rem;
    color: #ffffff;
    opacity: 0.7;
}
.nav-menu menu a, .nav-menu menu li:hover{
    opacity: 1;
    color: #ffffff;
    font-weight: bold;
}

/*rocket-icon part*/
.rocket-icon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}
.selector-rocket{
    position: relative;
    bottom: 10.5rem; /* -3rem for each adjacent nav bar topic when mouse hover*/
    width: 2.5rem;
    height: 2.5rem;
    transition: bottom 1s;
}

/**Main part**/
main{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #ff0000;
}
/*article id=about*/
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 25%;
    text-align: center;
    border: 4px solid #0037ff;
}
#about h1{
    width: 60%;
    text-align: start;
    font-size: 2rem;
    margin: 0 auto 1rem 2rem;
}
#about p{
    width: 60%;
    text-align: start;
    font-size: 1rem;
    margin-left: 2rem;
    line-height: 1.5rem;
}