/****Global setting****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("resources/main_bg.jpg");
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

/***header part***/
/**Nav bar part**/
nav{
    min-height: 4rem;
    max-height: 12rem;
    background-color: rgba(0, 0, 0, 0.8);
}
/*nav menu*/
.nav-link{
    color: white;
}
/*web logo*/
.navbar-brand{
    min-width: 3rem;
    max-width: 5rem;  
    height: auto;
}

/***main part***/
/**profile image part**/
.dev-pic{
    margin-top: 8rem;
    width: 20rem;
    height: 25rem;
}
.dev-info{
    margin-top: 8rem;
}